#content-wrapper{
	text-align: center;
}
#content-wrapper h1, #content-wrapper h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#content-wrapper .col{
	display: inline-block;
	width: 18%;
	margin: 10px;
	vertical-align: top;
}
#content-wrapper .col .card{
	border-radius: 5px;
	border: 1px solid #565656;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
	width: 100%;
	text-align: left;
	cursor: pointer;
}
#content-wrapper .col .card.selected{
	box-shadow: 0px 0px 5px 2px rgb(33, 150, 243);
}
#content-wrapper .col .card img{
	max-width: 100%;
	height: auto;
}
#content-wrapper .col .card h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 21px;
	padding: 15px 15px 5px 15px;
	margin: 0 auto;
}
#content-wrapper .col .card p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0 15px;
	margin: 0 auto;
}
#content-wrapper .col .card .btn-link{
	background-color: rgb(33, 150, 243);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 5px 15px;
	margin: 15px;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	height: 32px;
}
#content-wrapper #savedGallery .col .card .btn-link{
	line-height: 60px;
}
@media (min-width: 768px) and (max-width: 1024px){
	#content-wrapper .col{
		width: 27%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	#content-wrapper .col{
		width: 45%;
	}
}
@media (max-width: 479px){
	#content-wrapper .col{
		width: 98%;
	}
}